@import "tailwindcss";
body {
  margin: 0;
  font-family: Poppins, system-ui, -apple-system;
  background: radial-gradient(circle at top, #1e293b, #020617);
  color: white;
  overflow: hidden;
}
body.lofi {
  background: radial-gradient(circle, #1e293b, #020617);
}

body.neon {
  background: radial-gradient(circle, #020617, #000000);
}

body.nature {
  background: radial-gradient(circle, #14532d, #052e16);
}